@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@200;300&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Alata", sans-serif;
  background-color: hsl(0deg, 0%, 100%);
  transition: all 300ms linear;
  font-size: 1rem;
}

h1, h2, h3, h4 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
}

h1 {
  font-size: 3em;
  color: hsl(0deg, 0%, 100%);
  border: 1px solid hsl(0deg, 0%, 100%);
  padding: 0.5em;
  line-height: 1.2;
}

h2 {
  font-size: 2.3rem;
  margin-bottom: 0.5em;
}

a {
  text-decoration: none;
  color: hsl(0deg, 0%, 100%);
}

button {
  background: none;
}

.desktop-img {
  display: none;
}

.header {
  background: url(../images/mobile/image-hero.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
  padding: 1.5em;
  margin-bottom: 2em;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40%;
}

.logo {
  height: 30px;
}

.bar-icon,
.close-btn {
  cursor: pointer;
  transition: all 400ms linear;
}

.bar-icon {
  z-index: -100px;
}

.bar-icon:hover {
  transform: rotate(90deg);
}

.close-btn:hover {
  transform: rotate(180deg);
}

.menu-box {
  width: 100%;
  background: hsl(0deg, 0%, 0%);
  position: fixed;
  top: 0;
  left: -100%;
  bottom: 0;
  padding: 30px;
  transition: left 1s;
  height: 100vh;
}

.dropdown-bar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40%;
}

.desktop-menu-links {
  display: none;
}

.menu-links a {
  display: block;
  margin: 30px 0;
  text-decoration: none;
  color: hsl(0deg, 0%, 100%);
  font-size: 1.5rem;
  width: fit-content;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
}
.menu-links a:hover {
  color: hsl(0deg, 0%, 41%);
  font-weight: 600;
}

.vr-section {
  padding: 1rem 2rem;
  text-align: center;
  height: 100vh;
  margin-bottom: 2em;
}
.vr-section .vr-mobile-img {
  width: 100%;
}
.vr-section .vr-details {
  padding: 2em;
}
.vr-section p {
  color: hsl(0deg, 0%, 55%);
  line-height: 1.5;
  font-size: 1.2rem;
}

.creations-section {
  padding: 2em;
  position: relative;
}
.creations-section h2 {
  text-align: center;
  margin-bottom: 1.5em;
}
.creations-section .btn {
  text-align: center;
  padding: 0.8em 2em;
  width: 40%;
  margin: 2.5rem auto;
  border: 1px solid hsl(0deg, 0%, 0%);
  text-transform: uppercase;
  letter-spacing: 0.3em;
  cursor: pointer;
  transition: all 400ms linear;
}
.creations-section .btn:hover {
  background-color: hsl(0deg, 0%, 0%);
  color: hsl(0deg, 0%, 100%);
}
.creations-section .desktop-btn {
  display: none;
}
.creations-section .creation-grid .grid {
  margin-bottom: 0.7em;
  position: relative;
  z-index: -10;
  background-color: hsl(0deg, 0%, 55%);
  opacity: 0.8;
  cursor: pointer;
}
.creations-section .creation-grid .grid img {
  width: 100%;
}
.creations-section .creation-grid .grid h4 {
  position: absolute;
  top: 45%;
  left: 5%;
  font-weight: 300;
  color: hsl(0deg, 0%, 100%);
  font-size: 1.5rem;
  width: 30%;
}

.footer {
  background-color: hsl(0deg, 0%, 0%);
  text-align: center;
  padding: 2.5em;
}
.footer .footer-logo {
  margin-bottom: 2.5em;
}
.footer .social-links {
  margin: 1.5em auto;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer p {
  color: hsl(0deg, 0%, 41%);
}
.footer .footer-links {
  margin-bottom: 3em;
}
.footer .footer-links a {
  display: block;
  color: hsl(0deg, 0%, 100%);
  font-size: 1.1rem;
  margin-bottom: 1.5em;
}
.footer .footer-links a:hover {
  color: hsl(0deg, 0%, 41%);
}

@media screen and (min-width: 700px) {
  .header {
    background: url(../images/desktop/image-hero.jpg) no-repeat center;
    background-size: cover;
    padding: 2em 10%;
  }
  .nav {
    margin-bottom: 30%;
  }
  h1 {
    width: 70%;
  }
}
@media screen and (min-width: 850px) {
  h1 {
    width: 50%;
  }
  .header {
    margin-bottom: 4em;
  }
  .mobile-img {
    display: none;
  }
  .desktop-img {
    display: block;
  }
  .nav {
    margin-bottom: 20%;
  }
  #menu,
  .bar-icon {
    left: -100%;
    display: none;
  }
  .desktop-menu-links {
    display: block;
  }
  .desktop-menu-links a {
    margin-right: 1.5em;
    transition: all 300ms linear;
  }
  .vr-section {
    width: 85%;
    margin: 0 auto;
    display: flex;
    position: relative;
  }
  .vr-section .vr-desktop-img {
    width: 70%;
    object-fit: cover;
    height: 70%;
  }
  @-webkit-keyframes fade {
    from {
      top: 0px;
    }
    to {
      top: 15%;
    }
  }
  @keyframes fade {
    from {
      top: 0px;
    }
    to {
      top: 15%;
    }
  }
  .vr-section .vr-details {
    position: absolute;
    background-color: hsl(0deg, 0%, 100%);
    top: 15%;
    width: 50%;
    right: 0;
    padding: 5% 8%;
    text-align: left;
    -webkit-animation: bounce 5s infinite;
    animation: bounce 5s infinite;
  }
  .creations-section {
    width: 85%;
    margin: 0 auto;
  }
  .creations-section h2 {
    margin: 0;
  }
  .creations-section .creation-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
  }
  .creations-section .btn {
    width: 20%;
  }
  .creations-section .desktop-btn {
    margin: 0;
    display: inline-block;
  }
  .creations-section .mobile-btn {
    display: none;
  }
  .creations-section .creation-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .creations-section .creation-grid .grid h4 {
    position: absolute;
    top: 75%;
    width: 45%;
  }
  .footer {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: space-between;
    padding: 2em 3em;
    margin: 0;
  }
  .footer .footer-logo {
    margin-bottom: 2.5em;
  }
  .footer .social-links {
    width: 60%;
    margin: 0;
    margin-bottom: 2.5em;
    cursor: pointer;
  }
  .footer .footer-links {
    margin: 0;
  }
  .footer .footer-links a {
    display: inline-block;
    color: hsl(0deg, 0%, 100%);
    font-size: 1rem;
    margin-right: 1.5em;
  }
  .footer .footer-links a:hover {
    color: hsl(0deg, 0%, 41%);
  }
}