// theme colors
$primary: hsl(0, 0%, 55%) !default;
$secondary: hsl(0, 0%, 41%) !default;
$white: hsl(0, 0%, 100%) !default;
$black: hsl(0, 0%, 0%) !default;


// Font-family
$font-1: 'Alata', sans-serif;
$font-2: 'Josefin Sans', sans-serif;

// Text-styling
$uppercase: uppercase;

// Margin and Padding
$small-margin: 0.5em;
$big-margin: 1em;
$bigger-margin: 1.5em;
$biggest-margin: 2em;