@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@200;300&display=swap');



@import 'variables';



* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-1;
    background-color: $white;
    transition: all 300ms linear;
    font-size: 1rem;
}

h1,h2,h3,h4 {
    font-family: $font-2;
    text-transform: $uppercase;
    font-weight: 300;
}

h1 {
    font-size: 3em;
    color: $white;
    border: 1px solid $white;
    padding: 0.5em;
    line-height: 1.2;
}

h2 {
    font-size: 2.3rem;
    margin-bottom: $small-margin;
}

a {
    text-decoration: none;
    color: $white;
}

a:hover {
    color: $primary;
}


button {
    background: none;
}

.desktop-img {
    display: none ;
}

// HEADER
.header {
    background: url(../images/mobile/image-hero.jpg) no-repeat center;
    background-size: cover;
    // background-color: yellow;
    
    height: 100vh;
    padding: 1.5em;
    margin-bottom: 2em;
}



.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40%;
}

.logo {
    height: 30px;
}

.bar-icon,
.close-btn {
    cursor: pointer;
    transition: all 400ms linear;
}

.bar-icon {
    z-index: -100px;
}

.bar-icon:hover {
    transform: rotate(90deg);
}

.close-btn:hover {
    transform: rotate(180deg);
}

.menu-box {
    width: 100%;
    background: $black;
    position: fixed;
    top: 0;
    left: -100%;
    bottom: 0;
    padding: 30px;
    transition: left 1s;
    height: 100vh; 
}

.dropdown-bar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40%;
}

.desktop-menu-links {
    display: none;
}

.menu-links {
    a {
        display: block;
        margin: 30px 0;
        text-decoration: none;
        color: $white;
        font-size: 1.5rem;
        width: fit-content;
        text-transform: uppercase;
        font-family: $font-2;
    }

    a:hover {
        color: $secondary;
        font-weight: 600;
    }
} 


// VR-SECTION
.vr-section {
    padding: 1rem 2rem;
    text-align: center;
    height: 100vh;
    margin-bottom: 2em;

    .vr-mobile-img {
        width: 100%;
    }

    .vr-details {
        padding: 2em
    }

    p {
        color: $primary;
        line-height: 1.5;
        font-size: 1.2rem;
    }
}


// GRID SECTION
.creations-section {
    padding: 2em;
    position: relative;
    // width: calc(1220px - 2rem);

    h2 {
        text-align: center;
        margin-bottom: 1.5em;
    }

    .btn {
        text-align: center;
        padding: 0.8em 2em;
        width: 40%;
        margin: 2.5rem auto;
        border: 1px solid $black;
        text-transform: $uppercase;
        letter-spacing: 0.3em;
        cursor: pointer;
        transition: all 400ms linear;
    }

    .btn:hover {
        background-color: $black;
        color: $white
    }

    .desktop-btn {
        display: none;
    }

    .creation-grid {
        .grid {
            margin-bottom: 0.7em;
            position: relative;
            z-index: -10;
            background-color: $primary;
            opacity: .8;
    
            img {
                width : 100%;
            }
    
            h4 {
                position: absolute;
                top: 45%;
                left: 5%;
                font-weight: 300;
                color: $white;
                font-size: 1.5rem;
                width: 30%;
            }
        }

        .grid:hover {
            cursor: pointer;
        }
    }
    
}


// FOOTER

.footer {
    background-color: $black;
    text-align: center;
    padding: 2.5em;

    .footer-logo {
        margin-bottom: 2.5em;
    }

    .social-links {
        margin: 1.5em auto;
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    p {
        color: $secondary;
    }

    .footer-links {
        margin-bottom: 3em;
    
        a {
            display: block;
            color: $white;
            font-size: 1.1rem;
            margin-bottom: $bigger-margin;
        }
    
        a:hover {
            color: $secondary;
        }
    }
}

@media screen and (min-width:700px) {
    .header {
        background: url(../images/desktop/image-hero.jpg) no-repeat center;
        background-size: cover;
        padding: 2em 10%;
    }
    
    .nav {
        margin-bottom: 30%;
    }

    h1 {
        width: 70%;
    }
}

@media screen and (min-width:850px) {
    h1 {
        width: 50%;
    }

    .header {
        margin-bottom: 4em;
    }

    .mobile-img{ 
        display: none;
    }

    .desktop-img {
        display: block;
    }

    .nav {
        margin-bottom: 20%;
    }

    #menu,
    .bar-icon {
        left: -100%;
        display: none;
    }

    .desktop-menu-links {
        display: block;
    }

    .desktop-menu-links {
        a {
            margin-right: 1.5em;
            transition: all 300ms linear;
        }

        
    }

    .vr-section {
        width: 85%;
        margin: 0 auto;
        display: flex;
        position: relative;

        @mixin keyframes($animation-name) {
            @-webkit-keyframes #{$animation-name} {
              @content;
            }
            @keyframes #{$animation-name} {
              @content;
            }
          }
          
          @mixin animation($str) {
            -webkit-animation: #{$str};
            animation: #{$str};
          }
          
          @include keyframes(bounce) {
            from {
              top: 0px;
            }
            to {
              top: 15%;
            }
          }

          @include keyframes(reverse-bounce) {
            from {
              bottom: 0px;
            }
            to {
              bottom: 5%;
            }
          }

          .vr-desktop-img {
            width: 70%;
            object-fit: cover;
            height: 70%;
            position: relative;
            @include animation('reverse-bounce 5s infinite');
        }

        .vr-details {
            position: absolute;
            background-color: $white;
            top: 15%;
            width: 50%;
            right: 0;
            padding: 5% 8%;
            // height: 60%;
            text-align: left;
            @include animation('bounce 5s infinite');
        }



        


    
    }

    .creations-section {
        width: 85%;
        margin:  0 auto;

        h2 {
            margin: 0;
        }

        .creation-flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2em;
        }

        .btn {
            width: 20%;
            
        }

        .desktop-btn {
            margin: 0;
            display: inline-block;
        }

        .mobile-btn {
            display: none;
        }

        
        .creation-grid {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .grid {
    
                h4 {
                    position: absolute;
                    top: 75%;
                    width: 45%
                }
            }
        }
    }

    .footer {
        display: flex;
        text-align: left;
        align-items: center;
        justify-content: space-between;
        padding: 2em 10%;
        margin: 0;

        .footer-logo {
            margin-bottom: 2.5em;
        }
    
        .social-links {
            width: 60%;
            margin: 0;
            margin-bottom: 2.5em;
            cursor: pointer;
        }

        .footer-links {
            margin: 0;
        
            a {
                display: inline-block;
                color: $white;
                font-size: 1rem;
                margin-right: $bigger-margin;
            }
        
            a:hover {
                color: $secondary;
            }
        }
    }


}